@model IQueryable<ELearningSystem.Models.CourseSummaryModel>

<h2>My courses</h2>
@if (Model != null)
{
    foreach (var course in @Model)
    {
        Html.RenderPartial("StudentCourseSummary", course);
    }
}