@model List<ELearningSystem.Models.StudentCourseRequestModel>

@{
    ViewBag.Title = "My requests";
}

<h2>My requests</h2>

<div class="col-sm-10">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course name</th>
                <th>Date</th>
                <th>Was approved</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.CourseName, "CourseDetails", "Course", new { courseId = item.CourseId }, new { })</td>
                    <td>@item.Date</td>
                    <td>
                        <input type="checkbox" disabled checked="@item.WasApproved" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
